<link rel="stylesheet" style="text/css" href="tablepanel.css" />
<table id="window2-table-input" widget-title="输入面板" widget-flag="tablepanel-01" widget-type="6" >
	<tr class="window2-table-row">
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
	</tr>
	<tr class="window2-table-row">
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
	</tr>
	<tr class="window2-table-row">
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
		<td class="window2-table-input_title">请输入参数名称</td>
		<td><input type ="text" class ="window2-table-input_cell" /></td>
	</tr>
</table>