#Window2{
	display:block;
	position:absolute;
	top: 50px;
	left: 50px;
	width: 800px;
	height: 330px;
	z-index: 99999;
	cursor: default;
}
#window2-top-left{
	display:block;
	position:absolute;
	top: 0px;
	left: 0px;
	width :3px;
	height : 3px;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-lt.gif);
	z-index:inherit;
}
#window2-top{
	display:block;
	position:absolute;
	top: 0px;
	left: 3px;
	right:3px;
	height : 3px;
	background-color:#FFFFFF;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-t.gif);
	z-index:inherit;
}
#window2-top-right{
	display:block;
	position:absolute;
	top: 0px;
	right: 0px;
	overflow:hidden;
	width : 3px;
	height : 3px;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-rt.gif);
	z-index:inherit;
}

#window2-left{
	display:block;
	position:absolute;
	top: 3px;
	left: 0px;
	bottom:3px;
	width:3px;
	background-color:#FFFFFF;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-l.gif);
	z-index:inherit;
}

#window2-right{
	display:block;
	position:absolute;
	top: 3px;
	right: 0px;
	bottom:3px;
	background-color:#FFFFFF;
	background-repeat:repeat;
	width:3px;
	background-color:transparent;
	background-image:url(winpic/win-l.gif);
	z-index:inherit;
}
#window2-bottom-left{
	display:block;
	position:absolute;
	left: 0px;
	bottom: 0px;
	width : 3px;
	height : 3px;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-lb.gif);
	z-index:inherit;
}
#window2-bottom{
	display:block;
	position:absolute;
	left: 3px;
	right:3px;
	bottom: 0px;
	height : 3px;
	background-color:#FFFFFF;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-t.gif);
	z-index:inherit;
}
#window2-bottom-right{
	display:block;
	position:absolute;
	right: 0px;
	bottom: 0px;
	width : 3px;
	height : 3px;
	background-repeat:repeat;
	background-color:transparent;
	background-image:url(winpic/win-rb.gif);
	z-index:inherit;
}

#window2-title{
	display:block;
	position:absolute;
	top: 3px;
	left: 3px;
	right:3px;
	background-repeat:repeat;
	background-color:transparent;
	height:25px;
	background-image:url(winpic/litter-window-bg.gif);
	color:#ffffff;
	z-index:inherit;
}

#window2-title-content{
	display:block;
	position:absolute;
	top: 3px;
	left: 3px;
	vertical-align: middle;
	text-indent: 3px;
	font-size:small;
	height:24px;
	z-index:inherit;
}

#window2-center{
	display:block;
	position:absolute;
	top: 28px;
	left: 3px;
	right:3px;
	bottom:3px;
	background-color:#FFFFFF;
	background-repeat:repeat;
	z-index:inherit;
}

#window2-form-group-from{
	display:block;
	position:absolute;
	top: 3px;
	left: 3px;
	right:3px;
	height:100px;
	margin:0px;
	padding:0px;
}

#window2-form-group-fieldset{
	position:absolute;
	top: 1px;
	left: 1px;
	right:1px;
	bottom:1px;
	border:1px solid #5aace0;
	font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;
}


#window2-form-group-fieldset-legend{
	border: 0;
	width: auto;
	font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;
}

.window2-form-group-input{
	border:1px solid #A9D4E7;
	margin:2px;
	width:100px;
	height:24px;
}

#window2-combo-list{
	border-collapse: collapse;
	border:1px solid #A9D4E7;
	font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;
}

#window2-combo-list-cell{
	cursor:default;
	border-width: 0px;
	width:200px;
	height:24px;
	margin:0px;
	padding:0px;
	border-style:none;
}

#window2-combo-list-cell-after{
	background-color:#e3f4fe;
	background-image:url(combolist/com-list.gif);
	width:24px;
	height:100%;
	border:1px solid #a9d4e7;
	background-repeat:no-repeat;
	background-position:center;
	margin:0px;
	padding:0px;
	border-width: 0px

}
#window2-combo-list-td{
	border:1px solid #A9D4E7;
}
.window2-combo-list-cell_real{
	width:100%;
	height:100%
}

.window2-table-row{
	position:absolute;
	top: -10px;
}

#search_button {
	position:absolute;
	top:120px;
	right:150px;
	border: 1px solid #0382AD;
	background-color: #45B5DA;
	background: -webkit-linear-gradient(#45B5DA,#0382AD);
	background: linear-gradient(#45B5DA,#0382AD);
	overflow: visible;
	border-radius: 3px;
	cursor: pointer;
	font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;
	color: #FFFFFF;
	width:55px;
	height:25px;
}

#clear_button {
	position:absolute;
	top:120px;
	right:60px;
	border: 1px solid #0382AD;
	background-color: #45B5DA;
	background: -webkit-linear-gradient(#45B5DA,#0382AD);
	background: linear-gradient(#45B5DA,#0382AD);
	overflow: visible;
	border-radius: 3px;
	cursor: pointer;
	font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;
	color: #FFFFFF;
	width:55px;
	height:25px;
}

.divSet{
	position:absolute;
	top:160px;
	left: 5px;
	width:780px;
	max-height:100px;
	font-family: '\5b8b\4f53';
	font-style: normal;
	font-weight: normal;
	font-size: 9pt;
	cursor: default;
}

.tableSet{
	background-color: rgb(255, 255, 255);
	border-left:1px #c8dffe solid;
	width:100%;
	height:100%;
	table-layout:fixed;
}

.theadSet{
	overflow:hidden;
	background-repeat:repeat;
	background-color:#5aace0;
	border-right: 1px #c8dffe solid;
	border-bottom: 1px #c8dffe solid;
	height: 10px;
	color: #FFFFFF;
}

.tdSet{
	text-align:center;
	line-height: 10px;
	border-right: 1px #c8dffe solid;
	border-bottom: 1px #c8dffe solid;
}

.tableUnder{
	font-family: '\5b8b\4f53';
	font-style: normal;
	font-weight: normal;
	font-size: 9pt;
	cursor: default;
	float:right;
}



