<link rel="stylesheet" style="text/css" href="window.css" />
<div id="Window2">
	<div id="window2-top-left">
	</div>
	<div id="window2-top">
	</div>
	<div id="window2-top-right">
	</div>
	<div id="window2-title">
		<div id="window2-title-content"></div>
	</div>
	<div id="window2-left">
	</div>
	<div id="window2-center">
		<form id="window2-form-group-from">
			<fieldset  id="window2-form-group-fieldset">
				<legend id="window2-form-group-fieldset-legend">控件设置</legend>
				<table class="window2-table-row">
					<tr>
						<td>
							字段名
						</td>
						<td>
							<input type="text" class="window2-form-group-input"/>
						</td>
						<td>
							字段标识
						</td>
						<td>
							<input type="text" class="window2-form-group-input"/>
						</td>
						<td>
							控件类型
						</td>
						<td>
							<div id="window2-combo-list-div">
								<table id="window2-combo-list">
									<tr>
										<td id="window2-combo-list-td">

											<div id="window2-combo-list-cell">
												<div class="window2-combo-list-cell_real"></div>
											</div>
										</td>
										<td id="window2-combo-list-cell-after">
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>

				</table>
			</fieldset>
		</form>
		<button id="search_button">保存</button>
		<button id="clear_button">编辑</button>
	</div>

	<div id="window2-right"></div>
	<div id="window2-bottom-left"></div>
	<div id="window2-bottom"></div>
	<div  id="window2-bottom-right">	</div>
</div>