#win-screen{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

#win-top{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	height: 70px;
	background: #0382AD url(winpic/cc.png) repeat-x;
	background: -moz-linear-gradient(center top,#45B5DA,#0382AD);
	/**#webkit最新发布书写语法**/
	background: -webkit-linear-gradient(center top,#45B5DA,#0382AD);
	background: -o-linear-gradient(center top,#45B5DA,#0382AD);
	background: linear-gradient(to center top,#45B5DA,#0382AD);
	/**#webkit老式语法书写规则**/
	background: -webkit-gradient(linear,center top,center bottom,from(#45B5DA),to(#0382AD));
}

#win-bottom{
	position:absolute;
	display:block;
	bottom:0px;
	left:0px;
	right:0px;
	height: 10px;
	background: #0382AD url(winpic/cc.png) repeat-y;
	background: -moz-linear-gradient(center top,#45B5DA,#0382AD);
	/**#webkit最新发布书写语法**/
	background: -webkit-linear-gradient(center top,#45B5DA,#0382AD);
	background: -o-linear-gradient(center top,#45B5DA,#0382AD);
	background: linear-gradient(to center top,#45B5DA,#0382AD);
	/**#webkit老式语法书写规则**/
	background: -webkit-gradient(linear,center top,center bottom,from(#45B5DA),to(#0382AD));
}

#win-left{
	position:absolute;
	display:block;
	top:80px;
	left:10px;
	bottom:0px;
	width:250px;
	border-width:1px;
	border-style:solid;
	border-color:#4DABC9;
}

#win-right{
	position:absolute;
	display:block;
	top:80px;
	left:265px;
	right:0px;
	bottom:0px;
	border-width:1px;
	border-style:solid;
	border-color:#4DABC9;
}

