<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="./jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="./contextmenu/contextify.js"></script>
	<script type="text/javascript" src="./contextmenu/contextmenu.js"></script>
	<script type="text/javascript" src="./combolist/combo-list.js"></script>
	<script type="text/javascript" src="./move/move-widget.js"></script>
	<link rel="stylesheet" style="text/css" href="./bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" style="text/css" href="win.css" />

</head>
<body>
	<div id="win-screen">
		<div id="win-top"></div>
		<div id="win-left">
		</div>
		<div id="win-right"></div>
		<div id="win-bottom"></div>
	</div>
</body>
</html>