<div id="Window2">
	<div id="window2-top-left">
	</div>
	<div id="window2-top">
	</div>
	<div id="window2-top-right">
	</div>
	<div id="window2-title">
		<div id="window2-title-content">主机卡片库信息</div>
	</div>
	<div id="window2-left">
	</div>
	<div id="window2-center">
		<div id="window2-toolBar">
			<ul id="window2-toolBar_list">
				<a href=""><li id="window2-add-pic">新建镜像</li></a>
				<a href=""><li id="window2-modify-pic">修改镜像</li></a>
				<a href=""><li id="window2-delete-pic">删除镜像</li></a>
				<a href=""><li id="window2-close-pic">关闭</li></a>
			</ul>
		</div>
		<table id="window2-table-input">
			<tr class="window2-table-row">
				<td class="window2-table-input_title">运单编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">运单类型</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">订单编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>

			</tr>
			<tr class="window2-table-row">
				<td class="window2-table-input_title">报损编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">报损类型</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">出管编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
			</tr>
			<tr class="window2-table-row">
				<td class="window2-table-input_title">支付编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">支付类型</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">管道编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
			</tr>
			<tr class="window2-table-row">
				<td class="window2-table-input_title">回损编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">回损类型</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
				<td class="window2-table-input_title">线上编号</td>
				<td><input class ="window2-table-input_cell" type ="text" /></td>
			</tr>
		</table>

		<table>
			<tr id="window2-table-view-input">
				<td class="window2-table-input_view-title">序号</span></td>
				<td class="window2-table-input_view-title">姓名</span></td>
				<td class="window2-table-input_view-title">年龄</span></td>
				<td class="window2-table-input_view-title">地址</span></td>
			</tr>
		</table>

	</div>

	<div id="window2-right"></div>
	<div id="window2-bottom-left"></div>
	<div id="window2-bottom"></div>
	<div  id="window2-bottom-right">	</div>
</div>