<link rel="stylesheet" style="text/css" href="combolist.css" />
<div id="window2-combo-list-div" widget-title="下拉列表" widget-flag="combolist-01" >
	<table id="window2-combo-list">
		<tr>
			<td id="window2-combo-list-td">

				<div id="window2-combo-list-cell">
					<div class="window2-combo-list-cell_real"></div>
				</div>
			</td>
			<td id="window2-combo-list-cell-after" data-flag="fieldName" data-title="下拉列表" event="dropDown!@!combolist-01:window2-combo-list-cell,combolist-01:window2-combo-list-cell_real" >
			</td>
		</tr>
	</table>
</div>