#win-screen{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

#win-top{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	height: 70px;
	background: #0382AD url(winpic/r_x.png) repeat-x;
	background: -moz-linear-gradient(center top,#45B5DA,#0382AD);
	background: -webkit-gradient(linear,center top,center bottom,from(#45B5DA),to(#0382AD));
}

#win-bottom{
	position:absolute;
	display:block;
	left:0px;
	right:0px;
	bottom:0px;
	height: 10px;
	background: #0382AD url(winpic/r_x.png) repeat-x;
	background: -moz-linear-gradient(center top,#45B5DA,#0382AD);
	background: -webkit-gradient(linear,center top,center bottom,from(#45B5DA),to(#0382AD));
}

#win-left{
	position:absolute;
	display:block;
	top:80px;
	left:10px;
	bottom:0px;
	width:250px;
	border-width:1px;
	border-style:solid;
	border-color:#4DABC9;
}

#win-right{
	position:absolute;
	display:block;
	top:80px;
	left:265px;
	right:0px;
	bottom:0px;
	border-width:1px;
	border-style:solid;
	border-color:#4DABC9;
}

#search_text{
	position:absolute;
	display:inline;
	top:5px;
	left:5px;
	right:0px;
}

#search_input{
	border-width:1px;
	border-style:solid;
	border-color:#4DABC9;
	width:180px;
	height:20px;
}

#search_button {
    border: 1px solid #0382AD;
    background-color: #45B5DA;
    background: -webkit-linear-gradient(#45B5DA,#0382AD);
    background: linear-gradient(#45B5DA,#0382AD);
	overflow: visible;
	border-radius: 3px;
	cursor: pointer;
	font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;
	color: #FFFFFF;
	width:50px;
}

#search_button:hover {
    background-color: #4bc4ec;
    background: -webkit-linear-gradient(#4bc4ec,#0494c5);
    background: linear-gradient(#4bc4ec,#0494c5);
}

#win-left-tree{
	position:absolute;
	display:block;
	top:35px;
	left:5px;
	bottom:0px;
	width:250px;
}

