<link rel="stylesheet" style="text/css" href="dog.css" />
<div>
    <div class="paw">
        <div class="paw_left">
            <div class="paw_left__part"></div>
            <div class="paw_left__part"></div>
            <div class="paw_left__part"></div>
        </div>
        <div class="paw_right">
            <div class="paw_left__part"></div>
            <div class="paw_left__part"></div>
            <div class="paw_left__part"></div>
        </div>
    </div>
    <div class="puppy">
        <div class="intro">

        </div>
        <div class="hide"></div>
        <div class="wrap">
            <div class="body"></div>
            <div class="tail"></div>
            <div class="head">
                <div class="head_eyebrow">
                    <div class="head_eyebrow__left"></div>
                    <div class="head_eyebrow__right"></div>
                </div>
                <div class="head_ear">
                    <div class="head_ear__left"></div>
                    <div class="head_ear__right"></div>
                </div>
                <div class="head_earfold">
                    <div class="head_earfold__left"></div>
                    <div class="head_earfold__right"></div>
                </div>
                <div class="head_eye">
                    <div class="head_eye__left">
                        <div class="iris"></div>
                        <div class="pupil"></div>
                    </div>
                    <div class="head_eye__right">
                        <div class="iris"></div>
                        <div class="pupil"></div>
                    </div>
                </div>
                <div class="head_tongue"></div>
                <div class="head_nose"></div>
                <div class="head_top"></div>
                <div class="head_bottom">
                    <div class="head_bottom__left"></div>
                    <div class="head_bottom__right"></div>
                </div>
                <div class="head_mouth">
                    <div class="head_mouth__left"></div>
                    <div class="head_mouth__right"></div>
                    <div class="head_mouth__top"></div>
                </div>
            </div>
        </div>
    </div>

</div>