<link rel="stylesheet" style="text/css" href="window.css" />
<div id="Window2">
	<div id="window2-top-left">
	</div>
	<div id="window2-top">
	</div>
	<div id="window2-top-right">
	</div>
	<div id="window2-title">
		<div id="window2-title-content">基础数据设置</div>
		<div class="window2-closed"></div>
	</div>
	<div id="window2-left">
	</div>
	<div id="window2-center">
		<form id="window2-form-group-from">
			<fieldset  id="window2-form-group-fieldset">
				<legend id="window2-form-group-fieldset-legend">基础资料查询</legend>
				<table class="window2-table-row">
					<tr>
						<td>
							基础代码
						</td>
						<td>
							<input type="text" class="window2-form-group-input" data-title="基础代码" data-flag="baseCode" />
						</td>
						<td>
							基础名称
						</td>
						<td>
							<input type="text" class="window2-form-group-input" data-title="基础名称" data-flag="baseTitle" />
						</td>

					</tr>

				</table>
			</fieldset>
		</form>
	</div>

	<div id="window2-right"></div>
	<div id="window2-bottom-left"></div>
	<div id="window2-bottom"></div>
	<div  id="window2-bottom-right">	</div>
</div>