<link rel="stylesheet" style="text/css" href="table.css" />
<div class="divSet">
	<table class="tableSet">
		<tr class="theadSet" >
			<td class="tdSet">
				序号
			</td>
			<td class="tdSet">
				姓名
			</td>
			<td class="tdSet">
				年龄
			</td>
			<td class="tdSet">
				地址
			</td>
		</tr>
		<tr>
			<td class="tdSet">
				张思
			</td>
			<td class="tdSet">
				张三
			</td>
			<td class="tdSet">
				张三
			</td>
			<td class="tdSet">
				北京
			</td>
		</tr>
	</table>
	<table class="tableUnder">
		<tr>
			<td>共页</td>
			<td>当前第页</td>
			<td><div class="buttonSet">跳转</div></td>
			<td><div class="buttonSet">上页</div></td>
			<td><div class="buttonSet">下页</div></td>
		</tr>
	</table>
</div>