.divSet{
	width:600px;
	height:100px;
	font-family: '\5b8b\4f53';
	font-style: normal;
	font-weight: normal;
	font-size: 9pt;
	cursor: default;
}

.tableSet{
	background-color: rgb(255, 255, 255);
	border-left:1px #c8dffe solid;
	width:100%;
	height:100px;
	table-layout:fixed;
}

.theadSet{
	background-color: #ecf7fc;
	border-right: 1px #c8dffe solid;
	border-bottom: 1px #c8dffe solid;
}

.tdSet{
	text-align:center;
	line-height: 18px;
	border-right: 1px #c8dffe solid;
	border-bottom: 1px #c8dffe solid;
}

.tableUnder{
	font-family: '\5b8b\4f53';
	font-style: normal;
	font-weight: normal;
	font-size: 9pt;
	cursor: default;
	float:right;
}
