<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <display-name>wy-manage-web</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Window</servlet-name>
        <servlet-class>Entrance</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Window</servlet-name>
        <url-pattern>/Window</url-pattern>
    </servlet-mapping>

</web-app>