<link rel="stylesheet" style="text/css" href="window.css" />
<div id="Window2">
	<div id="window2-top-left">
	</div>
	<div id="window2-top">
	</div>
	<div id="window2-top-right">
	</div>
	<div id="window2-title">
		<div id="window2-title-content">按钮设置</div>
		<div class="window2-closed"></div>
	</div>
	<div id="window2-left">
	</div>
	<div id="window2-center">
		<table id="tableSetMultiple">
			<tr>
				<td>
					<div>
						<select  id="selectMultipleLeft" multiple="multiple">
						</select>
					</div>
				</td>
				<td>
					<div>
						<div id="addOneWY" >移动</div>
						<div id="addAllWY">全移</div>
					</div>
				</td>

				<td>
					<div>
						<select  id="selectMultipleRight"  data-flag="selectValueList"  multiple="multiple">
						</select>
					</div>
				</td>

				<td>
					<div>
						<div id="sortListWY">排序</div>
						<div id="firstOneWY">置顶</div>
						<div id="moveUpwardWY">上移</div>
						<div id="moveDownWY">下游</div>
					</div>
				</td>
			</tr>
		</table>
		<div id="urlSet">
			<span>请求网址：</span><span><input type ="text" id="urlSetInputView" data-flag="addressUrl" /></span>
		</div>
		<div id="targetSet">
			<span>朝向资源：</span><span><input type ="text" id="targetSetInputView"  data-flag="targetList" /></span>
		</div>

		<button id="buttonSaveByButton" url="/wy-manage-web/Button">保存</button>
	</div>

	<div id="window2-right"></div>
	<div id="window2-bottom-left"></div>
	<div id="window2-bottom"></div>
	<div id="window2-bottom-right">	</div>
</div>